* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Comic Sans MS, sans-serif;
}

html,
body {
  height: 100%;
  background: url(wood.jpg) repeat white;
}

.block {
  border: 5px outset green;
  border-radius: 30px;
  background: rgb(166, 170, 226);
  margin: 20px;
  padding: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

ol {
  list-style-position: inside;
}

input {
  border: 2px solid silver;
	border-radius: 5px;
	width: auto;
	max-width: 200px;
}

.all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  height: 20px;
}

.header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#icon {
  width: 100px;
  height: 100px;
}

/* .container {
	text-align: center;
} */

.content {
	margin: 0 auto;
	max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.menu {
  width: calc(100% - 70px);
  height: auto;
}

@media screen and (min-width: 1000px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .menu {
    min-width: 100px;
  }
}

.wrap {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: start;
}
.main {
  width: calc(100% - 70px);
  height: auto;
}

.ad {
  width: calc(100% - 70px);
  height: auto;
}

@media screen and (min-width: 700px) {
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
	}
	.main {
	}
	
	.ad {
		width: 200px;
	}
}

