* {
	text-decoration: none;
	font-size: 1em;
	font-family: Comic Sans MS, sans-serif;
}

body{
	background: url(wood.jpg) repeat white;
}

h1 {
	color: rgb(68, 17, 17);
}

h1 {
	color: rgb(245, 0, 0);
}

h1:hover {
	color: green;
}

h1:active {
	color: aqua;
}